---
// Borrowed from the PaperMC documentation.
// https://github.com/PaperMC/docs.
import Default from "@astrojs/starlight/components/Footer.astro";
import { Icon } from "@astrojs/starlight/components";
---

<Default>
  <slot />
</Default>
<div>
  <p class="footer-item">
    Copyright © {new Date().getFullYear()} Strokkur24.
  </p>
  <p class="footer-item muted">
    This website is not an official Minecraft or PaperMC website and is not associated with Mojang Studio, Microsoft, or
    PaperMC. All product and company names are trademarks or registered trademarks of their respective holders. Use of
    these names does not imply any affiliation or endorsement by them.
  </p>
</div>

<style>
  .footer-item {
    text-align: center;
    font-size: var(--sl-text-2xs);
    color: var(--sl-color-gray-2);
    margin-bottom: 0.25rem;
  }

  .footer-item a:not(:hover) {
    text-decoration: none;
  }

  .icon {
    color: var(--sl-color-orange);
  }

  .muted {
    color: var(--sl-color-gray-3);
  }
</style>
