:root {
  --sl-content-width: 60rem;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #000000;
  --sl-color-accent-high: #ef9144;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f3ecea;
  --sl-color-gray-2: #cfc6c4;
  --sl-color-gray-3: #b0a09d;
  --sl-color-gray-4: #635451;
  --sl-color-gray-5: #262626;
  --sl-color-gray-6: #1f1f1f;
  --sl-color-black: #111111;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ffffff;
  --sl-color-accent: #d07931;
  --sl-color-white: #000000;
  --sl-color-gray-1: #000000;
  --sl-color-gray-2: #1e1e1e;
  --sl-color-gray-3: #000000;
  --sl-color-gray-5: #ffe7d8;
  --sl-color-gray-6: #ffeeec;
  --sl-color-gray-7: #ffffff;
  --sl-color-black: #ffffff;
}
